html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#main {
    width: 248px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    background-color: #73A60D;
}

.component {
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 50px;
    float: left;
    margin: 5px;
}

.button {
    width: 50px;
    text-align: center;
    background-color: slateblue;
    color: lightgray;
}

.operator {
    background-color: lightblue;
    color: black;
}
