html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#main {
    width: 248px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    background-color: #73A60D;
}

#clear_button {
    background-color: indianred;
}

#display {
    width: 164px;
    padding: 0 5px; /* could be padding-left: 5px; padding-right: 5px; */
    text-align: right;
    background-color: #DEDEDE;
    font-size: 1.2rem;
}

.component {
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 50px;
    float: left;
    margin: 5px;
}

.button {
    width: 50px;
    text-align: center;
    background-color: slateblue;
    color: lightgray;
}

.button:hover {
    cursor: pointer;
}

.operator {
    background-color: lightblue;
    color: black;
}
